@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/lib/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-5.0.0-beta1-dist/js/bootstrap.js"></script>
    <script src="~/fontawesome/fontawesome-free-5.15.1-web/js/all.js"></script>
    <link href="~/Style/main.css" rel="stylesheet" />
    
    <title>Webzine</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Webzine</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex">
                        <i class="fas fa-home m-auto"></i>
                        <a class="nav-link text-light" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                    </li>
                    <li class="nav-item dropdown d-flex">
                        <i class="fas fa-tools m-auto"></i>
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administration
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="Administration" asp-controller="Artiste" asp-action="Index">Artistes</a></li>
                            <li><a class="dropdown-item" asp-area="Administration" asp-controller="Titre" asp-action="Index">Titres</a></li>
                            <li><a class="dropdown-item" asp-area="Administration" asp-controller="Style" asp-action="Index">Styles</a></li>
                            <li><a class="dropdown-item" asp-area="Administration" asp-controller="Commentaire" asp-action="Index">Commentaires</a></li>
                        </ul>
                    </li>
                    <li class="nav-item d-flex">
                        <i class="fas fa-envelope m-auto"></i>
                        <a class="nav-link text-light" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                    </li>
                </ul>
                <form class="d-flex m-auto me-0" asp-area="" asp-controller="Recherche" asp-action="Index">
                    <input name="query" class="form-control me-2" type="search" placeholder="Trouver un artiste / titre" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="row">
        @if (ViewContext.RouteData.Values["area"] == null)
        {
            <div class="col-md-9">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
            <div class="col-md-3">
                @await Component.InvokeAsync("SideBar")
            </div>
        }
        else
        {
            <div class="col-12">
                @RenderBody()
            </div>
        }
    </div>

    <footer class="bg-light text-center text-lg-start mt-3">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #F1EFEF">
            © ASP.NET Core - DIIAGE 2020 - 2021
        </div>
        <!-- Copyright -->
    </footer>
</body>
</html>