@{ Layout = "_Squelette";}
<div class="row mt-3">
    <div class="col-sm-8">
        <h2>Contact</h2>
        <p>
            C.U.C.D.B - DIIAGE<br>
            69 Avenue Aristide Briand<br>
            21000 Dijon<br>
            <br>
            <i class="fa fa-phone" aria-hidden="true"></i> 03 80 73 45 90<br>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:secretariat@cucdb.fr" title="">secretariat@cucdb.fr</a>
        </p>
    </div>
</div>

<h2 class="mt-3">Suivez-nous</h2>
<div class="ms-3 d-flex justify-content-evenly" id="follow-us">
    <!-- Facebook -->
    <a class="btn" href="https://www.facebook.com/diiage" role="button">
        <i class="fab fa-facebook-f"></i>
        <br>
        Facebook
    </a>

    <!-- Twitter -->
    <a class="btn" href="https://twitter.com/DiiageCucdb" role="button">
        <i class="fab fa-twitter"></i>
        <br>
        Twitter
    </a>

    <!-- Instagram -->
    <a class="btn" href="https://www.instagram.com/diiage.cucdb/" role="button">
        <i class="fab fa-instagram"></i>
        <br>
        Instagram
    </a>

    <!-- Linkedin -->
    <a class="btn" href="https://www.linkedin.com/company/diiage/" role="button">
        <i class="fab fa-linkedin-in"></i>
        <br>
        Linkedin
    </a>

    <!--Google Map-->
    <a class="btn" href="https://goo.gl/maps/MGhRpKJbCruYfHQd9" role="button">
        <i class="fa fa-map" aria-hidden="true"></i>
        <br>
        Google map
    </a>

    <!--Site du CUCDB-->
    <a class="btn" href="http://diiage.cucdb.fr/" role="button">
        <i class="fa fa-link" aria-hidden="true"></i>
        <br>
        Site du CUCDB
    </a>
</div>