@{ Layout = "_Squelette"; }
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@model Groupe1.Webzine.Entity.Style
<div class="ms-3 mt-3">
    <h1>
        Supprimer un Style
    </h1>
    <p>
        Etes vous sûr de vouloir supprimer le style @Model.Libelle
    </p>
    <div asp-validation-summary="All"></div>
    <form method="post" asp-area="Administration" asp-controller="Style" asp-action="DeleteAction">
        <input asp-for="@Model.IdStyle" hidden />
        <input class="btn btn-danger mb-4" type="submit" value="Supprimer" />
    </form>

    <a class="text-primary" asp-area="Administration" asp-controller="Style" asp-action="Index">Retour à l'administration des styles</a>
</div>